# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# App specific
login_app/.packages
login_app/.flutter-plugins-dependencies
login_app/.flutter-plugins
login_app/.dart_tool/
login_app/lib/generated_plugin_registrant.dart
.idea/workspace.xml
login_app/build/
.idea/vcs.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
login_app/android/local.properties
login_app/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
